<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matcha Review Website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <nav class="navbar navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Matcha Review Website | Taiwan</a>
      {{#if isAuthenticated}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
          歡迎回來
        </a>
        <ul class="dropdown-menu dropdown-menu-end card-color">
          <li><a class="dropdown-item" href="#" onclick="showPopup('edit-user')">個人資訊</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/user/logout">
              登出
          </a></li>
        </ul>
      </li>
      {{else}}
        <a href="/auth/google" class="btn btn-outline-light my-2 my-sm-0">登入</a>
      {{/if}}
    </div>
  </nav>

  <div class="d-flex">
    <div id="search" class="container card-color">
      {{#if isAuthenticated}}
      <div class="container-fluid mt-4">
        <!--店名搜尋-->
        <form class="d-flex" action="/search" method="post">
          <input class="form-control mx-1 input-color" style="width: 23vw; height: 50px" type="text" name="keyword" placeholder="請輸入要尋找的抹茶名稱..." aria-label="Search" value="{{keyword}}">
          <button class="btn btn-outline-secondary mx-1" type="submit">搜尋</button>
        </form>
        <!--篩選條件-->
        <div class="card mt-4" style="width: 29vw;">
          <form action="/filter" method="post">
            <label class="card-header card-color" style="width: 28.9vw;">篩選條件：</label><br>
            <div class="card-body card-color">            
              <!--類別搜尋-->
              <div class="container mt-1">
                <h4>店家類別</h4>
                <label class="btn btn-checkbox mt-1">
                  <input type="checkbox" name="category[]" value="下午茶">
                  <span>下午茶</span>
                </label>
                <label class="btn btn-checkbox mt-1 mx-1">
                  <input type="checkbox" name="category[]" value="工作室">
                  <span>工作室</span>
                </label>
                <label class="btn btn-checkbox mt-1">
                  <input type="checkbox" name="category[]" value="餐廳">
                  <span>餐廳</span>
                </label>
                <label class="btn btn-checkbox mt-1 mx-1">
                  <input type="checkbox" name="category[]" value="西點">
                  <span>西點</span>
                </label>
              </div>
              <!--地區搜尋-->
              <div class="container mt-3">
                <h4>地區</h4>
                <label class="btn btn-checkbox mt-1">
                  <input type="checkbox" name="district[]" value="北部">
                  <span>北部</span>
                </label>
                <label class="btn btn-checkbox mt-1 mx-1">
                  <input type="checkbox" name="district[]" value="中部">
                  <span>中部</span>
                </label>
                <label class="btn btn-checkbox mt-1">
                  <input type="checkbox" name="district[]" value="南部">
                  <span>南部</span>
                </label>
                <label class="btn btn-checkbox mt-1 mx-1">
                  <input type="checkbox" name="district[]" value="東部">
                  <span>東部</span>
                </label>
                <label class="btn btn-checkbox mt-1">
                  <input type="checkbox" name="district[]" value="宅配">
                  <span>宅配</span>
                </label>
              </div>
              <!--使用者喜好搜尋-->
              <div class="container mt-3">
                <h4>抹茶</h4>
                <label class="btn btn-checkbox mt-1">
                  <input type="checkbox" name="collected" value="已收藏">
                  <span>已收藏</span>
                </label>
                <label class="btn btn-checkbox mt-1">
                  <input type="checkbox" name="commented" value="評論過">
                  <span>評論過</span>
                </label>
                <label class="btn btn-checkbox mt-1">
                  <input type="checkbox" name="recommended" value="有推薦">
                  <span>有推薦</span>
                </label>
              </div>
              <div style="text-align: right;">
                <input class="btn btn-secondary mt-2" style="display: inline-block;" type="submit" value="送出">
              </div>
            </div>
          </form>
        </div>
        <!--新增餐廳-->
        <form action="/matchas/create" method="GET" style="display: contents;">
          <div class="d-flex container mt-3">
            <h4>新增餐廳</h4>
            <button type="submit" class="btn btn-outline-secondary mx-2">+</button>
          </div>
        </form>      
      </div>
      {{else}}
      <div class="mx-4 mt-4" style="color: #102832;">
        {{> message}}
        <h3>簡介：</h3>
        <h4 class="mt-2">
          當今社會，抹茶已成為越來越多人的最愛，如果你也是抹茶控，那麼 Matcha Review Website | Taiwan 這個網站是你可以來體驗的地方。
          <br>
          這個網站為抹茶控們提供了一個平台，讓他們可以分享自己的抹茶體驗，也可以查找他人的評價，找到最適合自己口味的抹茶。你可以在這裡找到各種店家、不同地區的抹茶產品等。
          <br>
          此外你可以與其他抹茶控進行評論，分享自己的抹茶體驗和意見。這樣其他抹茶控也可以從中獲得寶貴的建議，選擇最適合自己口味的抹茶。
          <br>
          總之 Matcha Review Website | Taiwan 為抹茶控們提供了一個交流和分享的平台，讓他們可以更好地了解、欣賞和享受抹茶的魅力。不論你是抹茶新手還是老手，都能在這裡找到你最愛的抹茶和探索新的店家、口感和地區。
        </h4>
      </div>
      {{/if}}
    </div>
  
    <div id="matcha" style="background-color: rgb(224,229,223);">{{{body}}}</div>
  </div>

  <!--編輯個人資訊-->
  <div id="edit-user" class="popup">
    <div class="popup-content card-color">
      <div class="d-flex" style="justify-content: space-between;">
        <h3>編輯個人資訊</h3>
        <button type="button" class="btn-close" aria-label="Close" onclick="hidePopup('edit-user')">
        </button>
      </div>
      <form action="/edit/user?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-row mb-3 mt-2 center">
          <img id="user_img" src="{{user.image}}" style="width: 150px;height: 150px;border-radius: 50%">
          <input class="input-color mt-3"type="file" onchange="readURL(this)" targetID="user_img" name="image">
        </div>
        <div class="form-row mb-3">
          <label class="form-label" for="name">名稱</label>
          <input class="form-control input-color" type="text" name="name" id="name" value="{{user.name}}" required>
        </div>
        <div class="col-auto mt-2">
          <button type="submit" class="btn btn-secondary mb-3">發送</button>
        </div>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/908f00b00c.js" crossorigin="anonymous"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>