<div class="card text-center card-color">
  <div class="card-header card-header-color">
    {{> matcha-tabs route='index'}}
  </div>

  {{#if matcha}}    
  <div id="index" class="card-body mx-4">
    {{#each matcha}}
    <a href="/matchas/matcha/{{ this.id }}">
      <div class="mt-4">
        <img src="{{ this.image }}" class="card-img-top">
        <div>
          <h4 class="card-title mt-2">{{ this.name }}</h4>
          <p class="card-text">{{ this.address }}</p>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
  {{else}}
  <div class="centerr mt-5 p-5">
    <h1 class="p-1">搜尋不到符合的資訊</h1>
    <p class="p-1">請嘗試輸入其他關鍵字</p>
    <a class="btn btn-secondary btn-sm" href="/" role="button"> back <i class="fas fa-undo"></i></a>
  </div>
  {{/if}}
</div>